*{
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html, 
body {
    background-color:#151728;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53);
    border-radius: 10px;
  }

/* Left section */
nav{
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  height: 68px;
  line-height: 68px;
  letter-spacing: 4px;
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom, #151728 0%, #151728 76%, rgba(21, 23, 40, 0) 100%);
}

.left{
    
    width: 18%;
    overflow: auto;
    padding-left: 0px;
}

.left h3{
    text-align: center;
    color: white;
}

.left h4{
    color: #5c5e6e;
    padding-left: 38px;
}

.left ul{
    list-style: none;
}

.left ul a:hover{
    color: white;
}

.left footer{
    color: #9c9cab;
}

/* menu */
.menu{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.menu a{
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: #9c9cab;
}

.menu ul li{
    padding-bottom: 20px;
}

.menu i{
  width: 26px;
  /* top: 15px; */
  margin-right: 10px;
}

/* favorites */
.favorites{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.favorites a{
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: #9c9cab;
}

.favorites ul li{
    padding-bottom: 20px;
}

.favorites i{
  width: 26px;
  /* top: 15px; */
  margin-right: 10px;
}
/* hr */
hr{
    border-color: gray;
    opacity: 0.5;
}



.mid{
    /* background-color: blue; */
    width: 64%;
}

.right{
    /* background-color: red; */
    width: 18%;
}

.main{
    display: flex;
    height: 725px;
}